<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>Create Folder</title>
</head>
<body>
    <%- include('./header') %>
    <div class="app">
        <form action="/folders/<%= parentFolderId %>/update" method="post" class="file-folder-form">
            <div>
                <input type="text" name="newname" id="newname" class="newname" placeholder="New name" autofocus required />
                <button type="submit" class="change-name-btn">Save name</button>
            </div>
            <% if (errors) { %>
                <% errors.forEach(err => { %>
                    <% if (err.path == 'editname') { %>
                        <div class="errors">
                            <p class="error">
                                <%= err.msg %>
                            </p>
                        </div>
                    <% } %>
                <% }) %>
            <% } %>
        </form>
    </div>
</body>
</html>