<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>Error</title>
</head>
<body>
    <%- include('./header') %>
    <div class="app">
        <h2>
            Oopps Maybe you didn't want to do that, 
            <br>please
            <a href="/home">
                click here
            </a>
            to go back to home
        </h2>
    </div>
</body>
</html>