<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>Create Folder</title>
</head>
<body>
    <%- include('./header') %>
    <div class="app">
        <form action="/folders/<%= parentFolderId %>/create" method="post" class="file-folder-form">
            <div class="new-folder-input-btn-con">
                <input type="text" name="newfolder" id="newfolder" value="<%= folderName || '' %>" class="newfolder" placeholder="New Folder" autofocus required />
                <button type="submit" class="create new-folder-btn"> + New Folder</button>
            </div>
            <% if (errors) { %>
                <% errors.forEach(err => { %>
                    <% if (err.path == 'newfolder') { %>
                        <div class="errors">
                            <p class="error">
                                <%= err.msg %>
                            </p>
                        </div>
                    <% } %>
                <% }) %>
            <% } %>
        </form>
    </div>
</body>
</html>