<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <%- include('./header') %>
    <div class="app">
        <form action="/folders/<%= parentId %>/upload" enctype="multipart/form-data" method="post" class="upload-form">
            <label for="file-upload" class="custom-file-upload">
                <input type="file" id="file-upload" class="file-input" name="uploaded_file" required />
            </label>
            <% if (errors) { %>
                <% errors.forEach(err => { %>
                    <% if (err.error) { %>
                        <div class="errors">
                            <p class="error">
                                <%= err.message %>
                            </p>
                        </div>
                    <% } %>
                <% }) %>
            <% } %>
            <button type="submit" class="file-upload-btn">
                Upload
            </button>
        </form>
    </div>
</body>
</html>